# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables //ilerde env içinde veri tabanı şifresi apikey gibi şeyler olacagı için githubda görünmemesi için bunu yazdık 
.env

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db